{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1 class="light-blue-text text-darken-2 center-align">Edit <span class='teal-text'>{{object.name}}</span></h1>
{% else %}
<h1 class="light-blue-text text-darken-2 center-align">Add Ride</h1>
{% endif %}
<!-- Leaving action empty makes form post to same url used to display it -->
<div class="row">
    <div class="col s8 offset-s2 ">
        <form action="" method="post">
        <!-- required by Django for security purposes -->
            {% csrf_token %}
            <table>
        <!-- Render inputs inside the <tr>s and <td>s -->
                {{form.as_table}}
            </table>
            <input type="submit" value="Ride On" class="btn light-blue accent-3"/>
        </form>
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>
{% endblock %}